site_name: "Pasqal analog emulators"
repo_url: "https://github.com/pasqal-io/emulators"
repo_name: "emulators"

nav:
  - Welcome: index.md
  - Base Classes: base_classes.md
  - Computing Observables: observables.md
  - How to Contribute: CONTRIBUTING.md
  - Code of Conduct: CODE_OF_CONDUCT.md
  - emu-sv:
    - Welcome to emu-sv: emu_sv/index.md
    - API: emu_sv/api.md
    - Notebooks:
      - Index: emu_sv/notebooks/index.md
      - Getting started: emu_sv/notebooks/getting_started.ipynb
    - Benchmarks:
      - Index: emu_sv/benchmarks/index.md
      - Accuracy: emu_sv/benchmarks/accuracy.md
      - Performance: emu_sv/benchmarks/performance.md
  - emu-mps:
    - Welcome to emu-mps: emu_mps/index.md
    - API: emu_mps/api.md
    - Notebooks:
      - Index: emu_mps/notebooks/index.md
      - Getting started: emu_mps/notebooks/getting_started.ipynb
      - Getting with started with dmrg: emu_mps/notebooks/dmrg_usecase.ipynb
      - Running with noise: emu_mps/notebooks/noise.ipynb
    - Advanced Topics:
      - Index: emu_mps/advanced/index.md
      - QPU Hamiltonian: emu_mps/advanced/hamiltonian.md
      - MPS Representation: emu_mps/advanced/mps/index.md
      - Algorithms Summary: emu_mps/advanced/algorithms.md
      - Errors in TDVP: emu_mps/advanced/errors.md
      - Noise: emu_mps/advanced/noise.md
      - Config: emu_mps/advanced/config.md
      - Validating Correctness of Results: emu_mps/advanced/convergence.md
      - Estimating Memory Consumption and Runtime: emu_mps/advanced/resource_estimation.md
    - Benchmarks:
      - Index: emu_mps/benchmarks/index.md
      - Accuracy: emu_mps/benchmarks/accuracy.md
      - Performance: emu_mps/benchmarks/performance.md
      - Noise: emu_mps/benchmarks/noise.md

edit_uri: edit/main/docs/

theme:
  name: material
  features:
  - content.code.annotate
  - content.action.view
  - content.action.edit
  - navigation.tabs
  - navigation.indexes
  - navigation.sections
  - content.code.copy

  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: custom
    accent: custom
    toggle:
      icon: material/weather-sunny
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: black
    accent: custom
    toggle:
      icon: material/weather-night
      name: Switch to light mode

markdown_extensions:
- admonition  # for notes
- footnotes
- pymdownx.arithmatex: # for mathjax
    generic: true
- pymdownx.highlight:
    anchor_linenums: true
- pymdownx.inlinehilite
- pymdownx.snippets
- pymdownx.details
- toc:
    permalink: true # link to each section
- pymdownx.arithmatex  # if you need LaTeX math
- attr_list
- pymdownx.superfences:
    custom_fences:
    - name: python
      class: python
      validator: "!!python/name:markdown_exec.validator"
      format: "!!python/name:markdown_exec.formatter"

plugins:
- search
- section-index
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        options:
          show_root_toc_entry: false
          heading_level: 3
          merge_init_into_class: true
          docstring_section_style: spacy
          extra:
            selection:
              filters:
                - "!^_"  # exlude all members starting with _
                - "^__init__$"  # but always include __init__ modules and methods
                - "^__new__$"  # but always include __new__ modules and methods


- mkdocs-jupyter:
    theme: light
- markdown-exec

# To get nice tabs
extra_css:
- extras/css/mkdocstrings.css
- extras/css/colors.css
- extras/css/home.css

# For mathjax
extra_javascript:
  - extras/javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

watch:
  - emu_base
  - emu_mps
  - emu_sv

extra:
  version:
    provider: mike
